---
layout: layout
---

<!-- Page Header -->
<header class="intro-header inner-hero" style="background-image: url('<%= config.root %><%= page["header-img"] || config["header-img"] %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1><%= page.title || config.title %></h1>
                    <!--<hr class="small">-->
                    <span class="subheading"><%= page.description || config.subtitle || "" %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <%
                var tagGroups = [
                    { title: '职业与自我', tags: ['自我秩序', '职业选择', '家庭关系'] },
                    { title: '商业与产品', tags: ['产品营销', '商业思考', '内容营销'] },
                    { title: 'AI 与工作流', tags: ['AI思考'] },
                    { title: '阅读与生活', tags: ['阅读与书影', '城市与生活', '播客'] }
                ];
                var tagMap = {};
                site.tags.map(function(tag){
                    tagMap[tag.name] = tag;
                });
                var sortTagsByPostCount = function(a, b) {
                    return b.length - a.length || a.name.localeCompare(b.name);
                };
                var sortedTags = site.tags.map(function(tag){
                    return tag;
                }).sort(sortTagsByPostCount);
            %>
            <section class="tag-topic-nav">
                <% tagGroups.forEach(function(group){ %>
                    <div class="tag-topic-group">
                        <h2><%= group.title %></h2>
                        <div class="tags">
                            <% group.tags.map(function(tagName){ return tagMap[tagName]; }).filter(function(tag){ return tag; }).sort(sortTagsByPostCount).forEach(function(tag){ %>
                                <% if(tag) { %>
                                    <a href="#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                <% }) %>
            </section>

            <!-- 标签云 -->
            <div id='tag_cloud' class="tags">
                <% sortedTags.map(function(tag){  %>
                    <a href="#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
                <% }) %>
            </div>

            <!-- 标签列表 -->

            <div class="tag-post-list">
                <% sortedTags.map(function(tag){  %>
                <div class="one-tag-list">
                    <span class="fa fa-tag listing-seperator" id="<%= tag.name %>">
                        <span class="tag-text"><%= tag.name %></span>
                    </span>
                    <% tag.posts.map(function(post){  %>
                      <!-- <li class="listing-item">
                      <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
                      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                      </li> -->
                     <div class="post-preview">
                         <a href="<%- config.root %><%- post.path %>">
                            <h2 class="post-title">
                                <%- post.title || "Untitled" %>
                            </h2>
                            <% if (post.subtitle && post.subtitle.length) { %>
                                <h3 class="post-subtitle">
                                    <%- post.subtitle %>
                                </h3>
                            <% } %>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </div>
                    <hr>
                    <% }) %>
                </div>
                <% }) %>
            </div>


        </div>
    </div>
</div>
